<!DOCTYPE html>
<html>

	<head>
		<title>{{ title }}</title>
		<link rel='stylesheet' href='/styles/styles.css' />
	</head>

	<body>
		{{{body}}}

		<script data-main="scripts/config" src="bower_components/requirejs/require.js"></script>
	</body>

</html>
